.add{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #441752;
    color: #EFB6C8;
    
}
.inner{
    display: inline-block;
    background-color: #8174A0;
    padding: 45px;
    border: 5px solid #000957;
    border-radius: 15px;
    color: black;
}
.thead{
    background-color: #D9DFC6;
}
.trow{
    background-color: beige;
}
.heading{
    color: #441752;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}
.move{
    color: #EFE3C2;
    font-size: 40px;
}
.table{
    width: 700px;
}
img{
    margin-left: 150px;
}
.main{
    background-color: #8D77AB;
}